node_modules/
dist/
*.log
.superpowers/

# Terraform
terraform/**/.terraform/
terraform/**/terraform.tfstate.d/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfvars
!terraform/**/*.tfvars.example
terraform/**/.terraform.tfstate.lock.info
terraform/**/crash.log
