node_modules/
dist/
*.log
.superpowers/

# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/terraform.tfvars
terraform/**/.terraform.tfstate.lock.info
terraform/**/crash.log
